/* Fonts */
@font-face {
  font-family: "GlassTTY";
  src: url("./assets/fonts/Glass_TTY_VT220.ttf");
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: "vt323";
  src: url("./assets/fonts/vt323-latin-400-normal.ttf");
  font-weight: 400;
  font-style: normal;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Card CSS */
.card-container {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.title {
  font-family: GlassTTY, monospace;
  color: #0fda3b;
}

.description {
  font-family: vt323, monospace;
  color: rgb(128, 127, 127);
  font-size: 15px;
}

.notes {
  font-family: vt323;
  color: white;
  font-size: 18px;
}
